[class^="base_"] > [class^="content_"] > [class^="sidebar_"] {
  border-radius: 0 !important;
  border-left: 4px solid var(--ThreeDFace);

  & > [class^="container_"] {
    padding: 2px;
    box-shadow: var(--RebarBorder);
    background: var(--Window) !important;

    & > [class^="container_"][class*="clickable_"] {
      background: var(--ThreeDFace) !important;
      & > header[class^="header_"] {
        padding: 0px;
        padding-bottom: 2px;
        height: 22px !important;
        box-shadow: var(--RebarBottom);

        & > [class^="headerContent_"] {
          height: 20px !important;
          padding-left: 6px;
          & > [class*="name_"] {
            font-weight: normal;
            font-size: var(--FontSize);
          }
          & > [class^="headerChildren_"] {
            width: 20px;
            height: 18px;

            background-color: var(--WindowText);
            mask-image: var(--ImageScrollbarDown);
            mask-repeat: no-repeat;
            mask-position: center;

            &:has(> svg[class*="open"]) {
              mask-image: var(--ImageClose);
            }

            & > svg {
              display: none;
            }
          }
        }
      }
      & > [class^="animatedContainer_"] {
        height: 20px !important;
        & > [class^="bannerImage_"] {
          height: 20px !important;
          &::after {
            content: "";
            height: 20px !important;
            width: 240px;
            top: 0;
            left: 0;
            position: absolute;
            background: linear-gradient(
              0deg,
              var(--background-secondary) 5%,
              transparent 100%
            );
          }
        }
      }
    }

    & > [class^="animatedBannerHoverLayer_"] {
      display: none;
    }

    & > [class^="scroller_"] {
      padding: 2px;
      box-shadow: var(--InnerEdge);

      & > [class^="content_"] {
        & > div[style="height: 84px;"],
        & > div[style="height: 84px;"] + div[style="height: 12px;"],
        & > div[style="height: 0px;"] + div[style="height: 12px;"],
        & > [class^="sectionDivider"] + div[style="height: 12px;"] {
          height: 0px !important;
        }

        [class^="sectionDivider_"] {
          height: 1px;
          border-top: solid 1px var(--ThreeDShadow);
          background-color: var(--ThreeDHighlight);
          margin: 3px 2px;
          width: calc(100% - 4px);
        }

        [class^="containerDefault_"] {
          margin-left: 0;
          padding: 0;

          [class^="iconVisibility_"] {
            margin-left: 0;
            padding: 0;
            height: unset;
          }

          [class^="link_"] {
            padding: 0;

            [class^="name_"] {
              line-height: 16px;
              font-size: var(--FontSize);
              font-weight: normal;
              letter-spacing: unset;
            }

            [class^="iconContainer_"] {
              margin-right: 3px;
              & > [class^="icon_"] {
                width: 16px;
                height: 16px;
              }
            }

            [class^="channelInfo_"] {
              & > [class^="wrapper_"] {
                border-radius: 0;
                line-height: 16px;
                height: 16px;

                & > [class^="users_"] {
                  background-color: transparent;
                  color: var(--WindowText);
                  padding-right: 6px;
                  width: unset;
                }
                & > [class^="total_"] {
                  background-color: transparent;
                  color: var(--ThreeDHighlight);
                  padding: 0;

                  &::after {
                    content: "/";
                    border: none;
                    left: -4px;
                  }
                }
              }
            }
          }

          &:has([class*="clickable_"]) {
            [class^="name_"] {
              margin-left: 38px;
              line-height: 16px;
              font-size: var(--FontSize);
              font-weight: normal;
              letter-spacing: unset;

              &::after {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                position: absolute;
                left: 19px;
                top: 0;
                background-image: var(--ImageFolderOpen16);
                background-repeat: no-repeat;
                background-position: center;
                image-rendering: pixelated;
              }
            }

            [class*="collapsed_"] [class^="name_"]::after {
              background-image: var(--ImageFolderClosed16);
            }

            & + [class^="containerDefault_"]:not(:has([class*="clickable_"])),
            & + [class^="container_"] {
              margin-left: 38px;
            }

            /* this doesnt work properly if a higher folder is closed, itll just
            effect every subsequent folder */
            /*&:has([class*="collapsed_"]) {
              & + [class^="containerDefault_"]:not(:has([class*="clickable_"])),
              & + [class^="container_"] {
                display: none;
              }
            }*/
          }
        }

        [class^="container_"] [class^="containerDefault_"] {
          margin-left: 19px;
        }
      }
    }
  }
}

.theme-light
  [class^="base_"]
  > [class^="content_"]
  > [class^="sidebar_"]
  > [class^="container_"]
  > [class^="scroller_"]
  > [class^="content_"]
  [class^="containerDefault_"]
  [class^="iconVisibility_"]
  [class^="link_"]
  [class^="channelInfo_"]
  > [class^="wrapper_"]
  > [class^="total_"] {
  color: var(--ThreeDShadow) !important;
}

[id^="popout_"]:has(#guild-header-popout) {
  top: 123px !important;
  left: 62px !important;
  width: 236px;

  & > div {
    transition: none;
    transform: none;
  }

  #guild-header-popout {
    width: 236px;
  }
}
