[class*="guilds_"] {
  background-color: var(--ThreeDFace) !important;
  box-shadow: var(--RebarBorder);
  width: 48px;
  padding: 2px;

  [class^="scroller_"] {
    padding-top: 4px;

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-button:single-button,
    &::-webkit-scrollbar-track {
      visibility: hidden !important;
      width: 0px !important;
      min-width: 0px !important;
    }
  }

  [class^="listItemWrapper_"] > [class^="wrapper_"] {
    width: 40px;
    height: 40px;
    & > svg {
      width: 40px;
      height: 40px;
    }
  }
  [class^="listItem_"] {
    --custom-list-items-list-item-width: 48px;
    margin: 0 !important;

    [class^="lowerBadge_"] {
      top: 0;
      z-index: 11;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-position: center;

      &:has(> [class^="numberBadge_"][style*="--status-danger"]) {
        background-image: var(--ImagePing);

        & > [class^="numberBadge_"] {
          display: none;
        }
      }
    }

    & > [class^="guildSeparator_"] {
      width: 48px;
      border-radius: 0;
      height: 1px;
      border-top: solid 1px var(--ThreeDShadow);
      background-color: var(--ThreeDHighlight);
      margin: 3px 0;
    }

    [class^="pill_"] {
      width: 16px;
      height: 16px;
      left: unset;
      right: 4px;
      z-index: 10;
      pointer-events: none;

      &:has(> [class^="item_"][style*="height: 8px;"]) {
        background-image: var(--ImageUnread);
        background-repeat: no-repeat;
        background-position: center;
      }

      [class^="item_"] {
        display: none;
      }
    }

    [class*="selected_"] > [class^="wrapper_"]:has(> svg) {
      box-shadow: inset -1px -1px 0 0 var(--ThreeDHighlight),
        inset 1px 1px 0 0 var(--ThreeDShadow);
      &:hover {
        box-shadow: inset -1px -1px 0 0 var(--ThreeDHighlight),
          inset 1px 1px 0 0 var(--ThreeDShadow);
      }
    }

    [class^="wrapper_"]:has(> svg) {
      width: 40px;
      height: 40px;
      & > svg {
        width: 40px;
        height: 40px;

        img[class^="icon_"] {
          width: 38.41px;
          height: 38.41px;
        }

        [class^="folder_"] {
          background-color: transparent;
          [class^="folderIconWrapper_"] {
            width: 38.41px;
            height: 38.41px;
            padding: 4.8px;

            /*mask-image: var(--ImageFolderClosed);
            mask-repeat: no-repeat;
            mask-position: center;
            mask-mode: luminance;
            -webkit-mask-image: var(--ImageFolderClosed);
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center;*/
            background-image: var(--ImageFolderClosed);
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent !important;

            &:has(
                [class^="expandedFolderIconWrapper_"]:not([style^="transform:"])
              ) {
              background-image: none;
            }

            [class^="closedFolderIconWrapper_"] {
              display: none;
            }

            [class^="expandedFolderIconWrapper_"] {
              width: unset;
              height: unset;
              & > svg {
                width: 38.41px;
                height: 38.41px;

                background-color: currentColor;

                /*mask-image: var(--ImageFolderOpen);
                mask-repeat: no-repeat;
                mask-position: center;
                mask-mode: luminance;
                -webkit-mask-image: var(--ImageFolderOpen);
                -webkit-mask-repeat: no-repeat;
                -webkit-mask-position: center;*/
                background-image: var(--ImageFolderOpen);
                background-repeat: no-repeat;
                background-position: center;
                background-color: transparent !important;

                & > path {
                  display: none;
                }
              }
              &[style^="transform:"] > svg {
                background-image: none;
              }
            }
          }
        }

        [class^="childWrapper_"] {
          background-color: transparent;
        }
      }

      &:hover {
        box-shadow: inset -1px -1px 0 0 var(--ThreeDShadow),
          inset 1px 1px 0 0 var(--ThreeDHighlight);
      }
    }
    [class^="wrapperSimple_"] {
      width: 40px;
      height: 40px;
      & > svg {
        width: 40px;
        height: 40px;

        img[class^="icon_"] {
          width: 38px;
          height: 38px;
        }
      }
    }

    [data-list-item-id="guildsnav___home"] > [class^="childWrapper_"] > svg {
      background-image: var(--ImageHome);
      background-repeat: no-repeat;
      background-position: center;
      width: 38.41px;
      height: 38.41px;

      & > path {
        display: none;
      }
    }
  }

  ul[id^="folder-items-"] {
    height: unset !important;
    box-shadow: var(--WindowFrame);
    padding: 4px;
    & > [class^="listItem_"] {
      --custom-list-items-list-item-width: 40px;

      [class^="pill_"] {
        right: 0px;
      }
    }
  }

  [class^="wrapper_"]:has(> [class^="expandedFolderBackground_"]) {
    width: unset !important;
  }

  [class^="expandedFolderBackground_"] {
    background-color: transparent;
    width: unset;

    & + [class^="listItem_"] [class^="wrapper_"]:has(> svg) {
      height: 62px;

      &::after {
        position: absolute;
        content: "";
        height: 23px;
        width: 40px;
        left: 0;
        bottom: 0;
        text-align: center;
        background-image: var(--ImageScrollbarDown);
        background-repeat: no-repeat;
        background-position: center;
      }
      &:has([class^="folder_"][aria-expanded="true"]) {
        box-shadow: inset -1px -1px 0 0 var(--ThreeDShadow),
          inset 1px 1px 0 0 var(--ThreeDHighlight);
      }

      &:hover::after {
        box-shadow: inset 0 1px var(--ThreeDShadow),
          inset -1px -1px 0 0 var(--ThreeDShadow),
          inset 1px 2px 0 0 var(--ThreeDHighlight);
      }
      &:has([class^="folder_"][aria-expanded="true"])::after {
        box-shadow: inset 0 1px var(--ThreeDShadow),
          inset -1px -1px 0 0 var(--ThreeDHighlight),
          inset 1px 2px 0 0 var(--ThreeDShadow);
      }
    }
  }
}
