[class^="layerContainer_"] > [class*="layer_"] > [class^="tooltip_"] {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid var(--TooltipText);
  background-color: var(--Tooltip);
  border-radius: 0;
  color: var(--TooltipText);
  transform: none !important;
  opacity: 1 !important;

  [class^="tooltipContent_"] {
    padding: 2px 4px;
    font-size: var(--FontSize);
    line-height: var(--FontSize);
  }

  [class^="tooltipPointer_"] {
    display: none;
  }

  [class*="rowGuildName_"] {
    align-items: center;
  }

  [class^="guildNameText_"] {
    color: var(--TooltipText);
  }
}
