.theme-light {
  --ThreeDLightShadow: #c0c0c0;
  --ThreeDHighlight: #ffffff;
  --ThreeDFace: #c0c0c0;
  --ThreeDShadow: #808080;
  --ThreeDDarkShadow: #000000;
  --Window: #ffffff;
  --WindowText: #000000;
  --ActiveTitleStart: #000080;
  --ActiveTitleEnd: #1084d0;
  --ActiveTitleText: #ffffff;
  --InactiveTitleStart: #808080;
  --InactiveTitleEnd: #b5b5b5;
  --InactiveTitleText: #c0c0c0;
  --Selection: #000080;
  --SelectionText: #ffffff;
  --Tooltip: #ffffe1;
  --TooltipText: #000000;
}
